.catalog {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 46px 48px;

    padding: 50px 20px 40px;
    list-style: none;

    @media (min-width: 1024px) {
      padding: 50px 40px 72px;
    }

    @media (min-width: 1200px) {
      padding: 50px 128px 72px;
    }
  }
}
