@import './variables';
@import './blocks/_header';
@import './blocks/_nav';

html,
body,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
